body {
    font: 18px arial, sans-serif;
    background-color: #7a3131;
    color: white;
    background-size: cover;
    
}
button, 
input[type="submit"] {
    background: navy;
    color: #ffffff;

}
button:hover,
input[type="submit"]:hover {
    background: blue;
    
}
button.active {
    background: blue;
}